
body {
    animation: fadein 10s ease 3s;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* 부모 div */

/* 이미지 크기 */
.imgSize {
    max-width: 400px;
    max-height: 350px;
    padding-bottom: 8px;
}

/* 왼쪽 폰트 */
.leftFont {
    text-align: left;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* 오른쪽 About Me */
.rightDiv {
    text-align: left;
    font-size: 60px;
    font-weight: bold;
}

/* 오른쪽 Context */
.rightContext {
    text-align: left;
    line-height: 6mm;
}

.titleFont {
    font-size: 22px;
    font-weight: bold;
}

/* SKILL 관련 CSS */
.skillFont {
    font-size: 60px;
    font-weight: bold;
}

/* 캐러셀 */
.carousel-control-prev {
    justify-content: center;
}

.carousel-control-next {
    justify-content: center;
}

.card-default-size {
    max-width: 120px;
    max-height: 120px;
}

.card {
    border: 2px solid gray;
}