body {
    width: 100%;
    height: 100%;

    animation: fadein 10s ease 3s;
  -webkit-animation: fadein 3s; /* Safari and Chrome */
  /* font-family: 'Fuzzy Bubbles', cursive; */
  background-image: url("../../resources/imgUpload/contact.jpg");
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container {
    background-color: white;
}

.card-title {
    font-weight: bold;
    font-family: 'Dongle', sans-serif;
    font-size: 32px;
}

.card-text {
    font-family: 'Dongle', sans-serif;
    font-size: 27px;
}