.bannerPosition {
    color: white;
}

/* fistMain 전체 div */
.firstPage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    animation: fadein 10s ease 5s;
  -webkit-animation: fadein 5s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* firstMain 이름 글꼴 */
.mainfontValue {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: blueviolet;
    text-decoration-line: none;
}

.blog-header-logo {
    text-decoration-line: none;
}

.blog-header-logo:hover {
    text-decoration-line: underline;
}

/* firstMain 서브 글꼴 */
.subfontValue {
    font-family: 'Jeju Myeongjo', serif;
    font-weight: bold;
    font-size: 20px;
    
}



/* fistMain 이미지 */
.text-center {
    padding: 3cm;
}

.ImgSize {
    width: 200px;
    height: 200px;
    border-radius: 20%;
}

.aLink {
    text-decoration-line: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: blueviolet;
    font-weight: bold;
    font-size: 24px;
    padding-right: 8px;
}

.aLink:hover {
    text-decoration-line: underline;
}